<div class="digg_pagination">
    <%= will_paginate @products, :container => false %>
</div>
<div class="row">
  <% @products.each do |product| %>
    <div class='col-md-4'>
      <div class="card mt-2 mb-2">
        <img class="card-img-top" src="<%= product.img %>" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><%= product.name %></h4>
          <p class="card-text"><%= product.country_of_origin %><br> $<%=product.cost%></p>
          <%= link_to('View', product_path(product), :class => "btn btn-primary")  %>
          <%= link_to "Delete", product_path(product), :class => "btn btn-danger",
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="digg_pagination mb-3">
    <%= will_paginate @products, :container => false %>
</div>
