<div class="white">
  <h1><%= @product.name %></h1>
  <p>$<%= @product.cost %></p>
  <p><%= @product.country_of_origin %></p>
  <%= image_tag @product.img %>
</div>
<% if @reviews.any? %>
  <p class="white">Recent Reviews: </p>
  <% @reviews.each do |review| %>

  <div class='card mt-3'>
    <div class='card-body'>
      <p><%=review.content_body %></p>
      <p> - <%= review.user.username %></p>
      <p> - <%= review.rating %></p>
    </div>
  </div>
  <%end%>
  <%= link_to 'Add a review', new_product_review_path(@product) %>
<%else%>
    <%= link_to 'Add a review', new_product_review_path(@product) %>
<%end%>
