<!DOCTYPE html>
<html>
  <head>
    <title>SpecialtyFood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav justify-content-end bg-secondary">
    <% if current_user %>
      <li class="nav-item">
        <p class="nav-link">Welcome <%=current_user.username%></p>
      </li>
      <% if current_user.admin == true %>
        <li class="nav-item">
          <a class="nav-link active" href="/products/new">Add Product</a>
        </li>
      <% end %>
    <%end%>
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/products?american=true">American Products</a>
    </li>
    <li class="nav-item mr-auto">
      <a class="nav-link active" href="/products">Products</a>
    </li>
    <li class="nav-item ">
      <% if current_user %>
        <p class="nav-link"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></p>
      <% else %>
      <p class="nav-link"><%= link_to('Login', new_user_session_path)  %></p>
      <% end %>
    </li>
    <%= form_tag(products_path, :method => "get", :class => "form-inline mr-3") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Spices" %>
      <%= submit_tag "Search" %>
    <% end %>
  </ul>
    <div class="container bg-dark pb-2 pt-2">
      <div class="flash-notice white">
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
